#venv
.venv/
venv/
env/
ENV/

#python cache
__pycache__/
*.py[cod]
*$py.class

#ide
.vscode/
.idea/
*.swp
*.sublime-*

#env
.env
*.env

.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

#Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log

.coverage
htmlcov/
